<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
	<div class="card text-center">
	  <div class="card-header" th:replace="fragments/header :: header"></div>
	  <div class="card-body">
		<form method="post" th:action="@{/peliculas/borrar/submit}" th:object="${pelicula}">
		  <div class="mb-3">
			<label for="titulo" class="form-label">Selecciona de la lista la película a eliminar</label>
			<select class="form-select" th:field="*{id}">
				<option th:each="peli : ${peliculas}" 
					    th:value="${peli.id}"
						th:text="${peli.titulo}">
				</option>
			</select>
		  </div>
		  <button type="submit" class="btn btn-primary">Eliminar</button>
		</form>
	  </div>
	  <div class="card-footer text-body-secondary" th:replace="fragments/footer :: footer"><</div>/div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>